<!DOCTYPE HTML>
<html>
<head>
    <title>FavMoments</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
</head>
<body>
    <div class="pageContainer" id="pageContainer">
        {{{body}}}
        <div class="footer" id="footer">
            <p>Footer</p>
        </div>
    </div>
</body>
</html>